@using WhatToEat.App.Services

<Router AppAssembly="@typeof(App).Assembly">
    <Found Context="routeData">
        <RouteView RouteData="@routeData" DefaultLayout="@typeof(Layout)" />
        <FocusOnNavigate RouteData="@routeData" Selector="h1" />
    </Found>
    <NotFound>
        <PageTitle>Not found</PageTitle>
        <LayoutView Layout="@typeof(Layout)">
            <p role="alert">Sorry, there's nothing at this address.</p>
        </LayoutView>
    </NotFound>
</Router>

@code {
    [Inject]
    NavigationManager NavigationManager { get; set; } = default!;

    [Inject]
    LocalEventService LocalEventService { get; set; } = default!;

    [Inject]
    VoteService VoteService { get; set; } = default!;

    [Inject]
    SessionService SessionService { get; set; } = default!;

    [Inject]
    RestaurantService RestaurantService { get; set; } = default!;
}